@model Blogger.DataLayer.Entities.Users.User
@{
    ViewData["Title"] = "EditUser";
}


<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="RegisterDate" />
    <input type="hidden" asp-for="ActiveCode" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="IsActive" />
    <input type="hidden" asp-for="IsDeleted" />
    <input type="hidden" asp-for="UserName" />
    <div asp-validation-summary="All"></div>
    <div class="col-md-7">
        <div class="form-group">
            <label for="disabledSelect">نام کاربری</label>
            <input class="form-control" id="disabledInput" type="text" disabled="" asp-for="UserName">
        </div>
        <div class="form-group">
            <label>ایمیل</label>
            <input class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <label>زندگی نامه</label>
            <textarea class="form-control" asp-for="Biography">@Model.Biography</textarea>
        </div>
        <input type="submit" value="ثبت" class="btn btn-success" />
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label>ارسال خبرنامه</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="enable" @((Model.IsActiveNewsLetter.Value)?"checked":"")>فعال 
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="disable" @((Model.IsActiveNewsLetter.Value==false)?"checked":"")>غیرفعال  
                </label>
            </div>
        </div>
    </div>
</form>