@using Blogger.Core.Convertors
@model Blogger.DataLayer.Entities.Users.User
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            مشخصات کاربری
        </div>
        <div class="panel-body">
            <p>نام کاربری :@Model.UserName</p>
            <p>ایمیل :@Model.Email</p>
            <p>تاریخ ثبت نام :@Model.RegisterDate.Value.ToShamsi()</p>
            <p>زندگی نامه :@Model.Biography</p>
            @if (Model.IsActiveNewsLetter.Value)
            {
                <p>خبر نامه :فعال</p>
            }
            else
            {
                <p>خبر نامه :غیرفعال</p>
            }
        </div>
        <div class="panel-footer">
            <a href="/User/User/EditUser/@Model.UserId" class="btn btn-warning">ویرایش</a>
        </div>
    </div>
</div>

