<div class="single_widget search_widget">
    <form action="/Home/Search" method="get">
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">

                <input type="text" class="form-control" name="q" placeholder="جستجو...">
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="lnr lnr-magnifier"></span>
                    </button>
                </span>

            </div>
        </div>
    </form>
</div>