@model Blogger.Core.DTOs.Users.ResetPasswordViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>تغییر کلمه عبور</title>

    <!-- Core CSS - Include with every page -->
    <link href="/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/AdminContent/css/sb-admin.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper" class="col-12">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            
                            <div class="panel-body">
                                <form asp-action="ResetPassword" method="post">
                                    <input type="hidden" asp-for="ActiveCode"/>
                                    <div asp-validation-summary="All"></div>
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="کلمه عبور" type="password" asp-for="Password">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="تکرار کلمه عبور" type="password" asp-for="RePassword">
                                        </div>
                                        <!-- Change this to a button or input when using this as a form -->
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="ثبت">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- Core Scripts - Include with every page -->
    <script src="/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/AdminContent/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/AdminContent/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/AdminContent/js/demo/dashboard-demo.js"></script>

</body>

</html>
